absl-py==0.9.0
astor==0.8.1
certifi==2019.11.28
cpools==0.0.0
cycler==0.10.0
Cython==0.29.15
-e git+https://github.com/CharlesShang/DCNv2.git@6d012eed8eb555b6c9bb8d968d53426c01b0f017#egg=DCNv2
easydict==1.9
gast==0.3.3
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
llvmlite==0.31.0
Markdown==3.1.1
matplotlib==3.2.0rc3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numba==0.48.0
numpy==1.18.1
olefile==0.46
opencv-python==4.2.0.32
Pillow==6.1.0
progress==1.5
protobuf==3.11.2
pycocotools==2.0
pyparsing==2.4.6
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0
tensorboard==1.14.0
tensorboardX==2.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
torch==1.4.0
torchvision==0.5.0
Werkzeug==0.16.1
wrapt==1.11.2
